.viewproject-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.viewproject-view-project129273 {
  width: 1512px;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1512px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.viewproject-group461874 {
  top: 102px;
  left: 30px;
  width: 836px;
  height: 827px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-group451873 {
  top: 0px;
  left: 0px;
  width: 836px;
  height: 827px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 53px;
  background-color: rgba(230, 230, 230, 1);
}
.viewproject-image {
  top: 606px;
  left: 954px;
  width: 428px;
  height: 259px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 35px;
  background-color: rgba(251, 251, 251, 1);
}
.viewproject-group2129275 {
  top: 0px;
  left: 921px;
  width: 733px;
  height: 958px;
  display: flex;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(239, 128, 55, 1);
}
.viewproject-text {
  top: 641.067626953125px;
  left: 192.2728729248047px;
  color: rgba(239, 128, 55, 1);
  width: 30px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text01 {
  color: rgba(239, 128, 55, 1);
  width: 30px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-image01 {
  top: 32px;
  left: 278px;
  width: 1198px;
  height: 900px;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-notification129281 {
  top: 66.69354248046875px;
  left: 1271.0322265625px;
  width: 42px;
  height: 41.6129035949707px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-image02 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-svg {
  top: 13.190160751342773px;
  left: 13.929215431213379px;
  width: 15;
  height: 15;
  position: absolute;
}
.viewproject-image03 {
  top: 9.362903594970703px;
  left: 23.233869552612305px;
  width: 8px;
  height: 8px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-language129289 {
  top: 66px;
  left: 1326.51611328125px;
  width: 42px;
  height: 41.6129035949707px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-image04 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-us129293 {
  top: 11.096691131591797px;
  left: 11.789754867553711px;
  width: 18px;
  height: 18.03227996826172px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-gruppe2129294 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18.03227996826172px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-image05 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-image06 {
  top: 66px;
  left: 1382px;
  width: 43px;
  height: 43px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-title129304 {
  top: 55px;
  left: 361px;
  width: 285px;
  height: 54px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-text02 {
  top: 0px;
  left: 0px;
  color: rgba(6, 21, 43, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text03 {
  color: rgba(6, 21, 43, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text07 {
  color: rgba(128, 159, 184, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-svg01 {
  top: 136px;
  left: 48px;
  width: 229;
  height: 56;
  position: absolute;
}
.viewproject-svg02 {
  top: 151px;
  left: 75px;
  width: 26;
  height: 26;
  position: absolute;
}
.viewproject-text08 {
  top: 148px;
  left: 116px;
  color: rgba(251, 253, 254, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text09 {
  color: rgba(251, 253, 254, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text10 {
  top: 226px;
  left: 116px;
  color: rgba(128, 159, 184, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text11 {
  color: rgba(128, 159, 184, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text12 {
  top: 302px;
  left: 116px;
  color: rgba(128, 159, 184, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text13 {
  color: rgba(128, 159, 184, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text14 {
  top: 374px;
  left: 116px;
  color: rgba(128, 159, 184, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text15 {
  color: rgba(128, 159, 184, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text16 {
  top: 446px;
  left: 116px;
  color: rgba(128, 159, 184, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text17 {
  color: rgba(128, 159, 184, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-svg03 {
  top: 230px;
  left: 75px;
  width: 26;
  height: 26;
  position: absolute;
}
.viewproject-svg04 {
  top: 306px;
  left: 75px;
  width: 26;
  height: 26;
  position: absolute;
}
.viewproject-svg05 {
  top: 381px;
  left: 75px;
  width: 26;
  height: 20;
  position: absolute;
}
.viewproject-svg06 {
  top: 446px;
  left: 79px;
  width: 21;
  height: 29;
  position: absolute;
}
.viewproject-group30129660 {
  top: 144px;
  left: 331px;
  width: 1122px;
  height: 771px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-frame01129320 {
  top: 0px;
  left: 0px;
  width: 1122px;
  height: 771px;
  display: flex;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-svg07 {
  width: 1122;
  height: 771;
  position: absolute;
}
.viewproject-text18 {
  top: 41px;
  left: 80px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text19 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text20 {
  top: 88px;
  left: 81px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text21 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text22 {
  top: 586px;
  left: 68px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text23 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text24 {
  top: 484px;
  left: 68px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text25 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text26 {
  top: 511px;
  left: 68px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text27 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text33 {
  top: 636px;
  left: 68px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text34 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-statusbar129329 {
  top: 611px;
  left: 68px;
  width: 533px;
  height: 12px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-image07 {
  top: 0px;
  left: 0px;
  width: 533px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-image08 {
  top: 287px;
  left: 416px;
  width: 209px;
  height: 278px;
  position: absolute;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.09000000357627869) ;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-text35 {
  top: 261px;
  left: 690px;
  color: rgba(0, 0, 0, 1);
  width: 656px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: justified;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text36 {
  color: rgba(0, 0, 0, 1);
  width: 656px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: justified;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-group32129677 {
  top: 196px;
  left: 1195px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-group35129698 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-group35129699 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-group37129702 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-svg08 {
  width: 152;
  height: 39;
  position: absolute;
}
.viewproject-text48 {
  top: 10px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text49 {
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-group38138718 {
  top: 612px;
  left: 954px;
  width: 634px;
  height: 245px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-image09 {
  top: 0px;
  left: 0px;
  width: 397px;
  height: 245px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 28px;
  background-color: rgba(249, 239, 239, 1);
}
.viewproject-text50 {
  top: 24px;
  left: 23px;
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text51 {
  color: rgba(6, 21, 43, 1);
  width: 611px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-group33129679 {
  top: 178px;
  left: 227px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-group35129693 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 39px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-svg09 {
  width: 152;
  height: 39;
  position: absolute;
}
.viewproject-text52 {
  top: 10px;
  left: 36px;
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text53 {
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-group31129675 {
  top: 56px;
  left: 23px;
  width: 391px;
  height: 57px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-text54 {
  top: 0px;
  left: 18px;
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text55 {
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text56 {
  top: 25px;
  left: 18px;
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text57 {
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text58 {
  top: 0px;
  left: 170px;
  color: rgba(6, 21, 43, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text59 {
  color: rgba(6, 21, 43, 1);
  width: 221px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text60 {
  top: 26px;
  left: 170px;
  color: rgba(6, 21, 43, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text61 {
  color: rgba(6, 21, 43, 1);
  width: 134px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-image10 {
  top: 3px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image11 {
  top: 29px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image12 {
  top: 4px;
  left: 154px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image13 {
  top: 29px;
  left: 154px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-group34129680 {
  top: 108px;
  left: 23px;
  width: 391px;
  height: 57px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.viewproject-text62 {
  top: 0px;
  left: 18px;
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text63 {
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text64 {
  top: 25px;
  left: 18px;
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text65 {
  color: rgba(6, 21, 43, 1);
  width: 113px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text66 {
  top: 0px;
  left: 170px;
  color: rgba(6, 21, 43, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text67 {
  color: rgba(6, 21, 43, 1);
  width: 221px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text68 {
  top: 26px;
  left: 170px;
  color: rgba(6, 21, 43, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text69 {
  color: rgba(6, 21, 43, 1);
  width: 134px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-image14 {
  top: 3px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image15 {
  top: 29px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image16 {
  top: 4px;
  left: 154px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-image17 {
  top: 29px;
  left: 154px;
  width: 12px;
  height: 12px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.viewproject-text70 {
  top: 182px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-text71 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.viewproject-svg10 {
  top: 184px;
  left: 23px;
  width: 12;
  height: 12;
  position: absolute;
}
.viewproject-image18 {
  top: 800px;
  left: 392px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-image19 {
  top: 804px;
  left: 441px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.viewproject-image20 {
  top: 46px;
  left: 75px;
  width: 193px;
  height: 33px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
